html {
  height: 100%;
  width: 100%;
  position: relative;
  background: #fff !important;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.default {
  background-color: #222;
}

.text-center {
  text-align: center;
  margin: auto;
}


footer {
  width: 100%;
  height: 8em;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  /* background-color: rgba(140,140,140,0.7); */
  background-color: transparent;
  color: #000;
}

.content {
  padding-bottom: 8em !important;
}

.indexJumbo,
.indexContent
{
  color: #fff;
  text-align: center;
  z-index: 99 !important;
  font-size: 1.2em;
}

.card {
  padding-top: 1em;
  padding-bottom: 1em;
  float: left;
  margin:auto;
  margin-right: 3%;
}

.loadingGif {
  height: 400px !important;
  text-align: center;
  margin:auto;
}

.analyseSideNav dd {
  font-style: italic;
}

.analyseSideNav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 8em;
  right: 2em;
  background: #eee !important;
  overflow-x: hidden;
  padding: 1em 0;
}

.analyseSideNav dt {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 1.2em;
  color: #2196F3;
  display: block;
}

.analyseSideNav a:hover {
  color: #064579;
}

.analyseResultContent {
  /* margin-right: 140px; */
  padding: 0px 10px;
}

#navShowBtn {
  position: fixed;
  top: 5em;
  right: 2em;
  max-width: 110px !important;
  /* height: 70px !important; */
}

@media screen and (max-height: 450px) {
  .analyseSideNav {padding-top: 15px;}
  .analyseSideNav a {font-size: 18px;}
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 99;
  background-color: #fff !important;
}

#loadingGif {
  display:block;
  margin: 0 auto;
  margin-top: 10%;
}
