<div class="row">

  <form action="/analyse" method="post" id="newsAnalyseForm" name="newsAnalyseForm">

    <div class="col m12">
      <label for="newsURL">Gib eine Zeitungsartikel-URL ein</label>
      <input class="_full-width" type="url" placeholder="https://www.sueddeutsche.de/wirtschaft/bahn-milliarden-ausbau-1.5029830" name="newsURL" id="newsURL" title="URL eines Zeitungsartikelartikels" required="required">
    </div>

    <div class="text-center">
      <button class="_box" type="button" onclick="analyse();">Analyse</button>
    </div>
  </form>

</div>
