{% extends "layout.html" %}
{% block header %}
<div class="jumbo">
  <h1>Zeitungsmining</h1>
  <p>
    Dieser Service wendet verschiede Text Mining- und Analysemethoden auf Zeitungsartikel an<br />
    Füge einfach eine URL von einem Artikel deiner Wahl in das Eingabefeld ein und klicke auf Analyse.
  </p>
</div>
{% endblock %}
{% block content %}
<!-- NAVIGATIONS -->
<div class="container indexContent">
  <div class="container">
    {% include "includes/analyseInput.html" %}
  </div>
</div>
{% endblock %}
